<launch>
    <rosparam file="$(find iToF_base)/config/param/param_spker002_front.yaml" command="load"/>

    <param name="save_dir_up" type="string" value="$(find iToF_base)/result/spker002/feng_iToF_up.yaml" />
    <param name="save_dir_right" type="string" value="$(find iToF_base)/result/spker002/spker002_front_right.yaml" />
    <param name="save_dir_left" type="string" value="$(find iToF_base)/result/spker002/spker002_front_left.yaml" />

    <!-- ground_reference??? -->
    <arg name="is_ground_reference_" default="false"/>
    <param name="is_ground_reference" type="bool" value="$(arg is_ground_reference_)"/>

    <node pkg="iToF_base" type="iToF_base" name="iToF_base" output="screen"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find iToF_base)/config/rviz/feng.rviz"/>
</launch>
